<div class="row">
    <div class="col-xs-1 radio">
        <input type="radio" name={{name}} value={{value}}  aria-label={{title}} checked={{checked}}>
    </div>

    <div class="col-xs-11 text">
        <h4 class="f-w-xl">{{title}}</h4>
        <p>{{description}}</p>
    </div>
</div>
