<div class="container">
    <div class="row">
        <div class="col-md-12 reviews-list">
            <div class="box-shadow-md">
                <div class="moderation-list-heading">
                    <button class="btn moderation-btn-filter {{if (eq status 'pending') 'active-filter'}}" {{action statusChanged 'pending'}}>
                        <i class="fa fa-hourglass-o icon-pending"></i> {{statusCounts.pending}} {{t pendingLabel}}
                    </button>
                    <button class="btn moderation-btn-filter {{if (eq status 'accepted') 'active-filter'}}" {{action statusChanged 'accepted'}}>
                        <i class="fa fa-check-circle-o icon-accepted"></i> {{statusCounts.accepted}} {{t acceptedLabel}}
                    </button>
                    <button class="btn moderation-btn-filter {{if (eq status 'rejected') 'active-filter'}}" {{action statusChanged 'rejected'}}>
                        <i class="fa fa-times-circle-o icon-rejected"></i> {{statusCounts.rejected}} {{t rejectedLabel}}
                    </button>
                    {{#bs-dropdown classNames="pull-right" as |dd|}}
                        {{#dd.toggle classNames="btn"}}{{t sortLabel}}
                            <span class="fa fa-caret-down"></span>
                        {{/dd.toggle}}
                        {{#dd.menu classNames="dropdown-menu-right" as |menu|}}
                            {{#menu.item}}
                                <button class="btn" {{action sortChanged '-date_created'}}>
                                    <i class='{{if (eq sort '-date_created') 'fa fa-check selected' 'not-selected'}}'></i> {{t sortNewestLabel}}
                                </button>
                            {{/menu.item}}
                            {{#menu.item}}
                                <button class="btn" {{action sortChanged 'date_created'}}>
                                    <i class='{{if (eq sort 'date_created') 'fa fa-check selected' 'not-selected'}}'></i> {{t sortOldestLabel}}
                                </button>
                            {{/menu.item}}
                        {{/dd.menu}}
                    {{/bs-dropdown}}
                </div>
                {{#if loading}}
                    <div class="text-center m-b-lg p-v-md ball-pulse ball-dark" aria-label="Loading data">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                {{else}}
                    <div class="moderation-list-body">
                        {{#if (eq preprintRecords.length 0)}}
                            <div class="text-center p-v-md ball-pulse ball-dark" aria-label="Loading data">
                                {{t noSubmissionsText}}
                            </div>
                        {{else}}
                            {{#each preprintRecords as |submission|}}
                                {{moderation-list-row submission=submission}}
                            {{/each}}
                            <div class="pull-right text-right">
                                {{pagination-pager
                                    count=meta.total
                                    current=page
                                    change=(action pageChanged)
                                }}
                            </div>
                        {{/if}}
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
