<table class="table table-filter">
    <tbody>
        {{#each preprintRecords as |record|}}
            {{#link-to 'preprints.provider.preprint-detail' theme.id record.id}}
                <tr data-status={{record.reviewsState}}>
                    <td class="moderation-record-state">
                        <i class={{get iconClass type}}></i>
                    </td>
                    <td>
                        <div class="media">
                            <div class="media-body" title={{record.title}}>
                                <p class="record-title">{{shorten-text record.title screenWidth}}</p>
                                <p class="record-body">
                                    {{t 'moderation_list.record.submitted_on'}} {{moment-format record.dateCreated "MMMM DD, YYYY"}} {{t 'moderation_list.record.by'}}
                                    {{#each record.node.contributors as |contributor index| ~}}
                                        {{#if (and (gt index 0) (lt index 3))}}
                                            {{concat ', ' contributor.users.fullName}}
                                        {{else if (eq index 0)}}
                                            {{contributor.users.fullName}}
                                        {{else}}
                                            + {{decrement-value record.node.contributors.length 3}}
                                        {{/if}}
                                    {{/each}}
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
            {{/link-to}}
        {{/each}}
    </tbody>
</table>
