{{#each actionsList key='id' as |action|}}
    {{action-feed-entry action=action toDetail=toDetail}}
{{else if loadActions.isIdle}}
    <div class="text-center">{{t 'components.actionFeed.noActions'}}</div>
{{/each}}
{{#if loadActions.isRunning}}
    {{#each dummyActionList}}
        {{action-feed-entry-skeleton}}
    {{/each}}
{{else if moreActions}}
    <div class='see-more'>
        <a role='button' onclick={{perform loadActions}}>{{t 'components.actionFeed.seeMore'}}</a>
    </div>
{{/if}}
