{{#if actionsList.isPending}}
    <div class='loading'>
        <div class="text-center p-v-md ball-scale ball-dark" aria-label="Loading data">
            <div></div>
        </div>
    </div>
{{else}}
    {{#each actionsList key='id' as |action|}}
        {{action-feed-entry action=action toDetail=toDetail}}
    {{/each}}
    {{#if moreActions}}
        <div class='see-more'>
            <a role='button' {{action nextPage}}>{{t 'components.action-feed.see_more'}}</a>
        </div>
    {{else if (eq actionsList.length 0)}}
        <div class="text-center">{{t 'components.review-log-feed.no_actions'}}</div>
    {{/if}}
{{/if}}
