{{#if listLoading}}
    {{loading-indicator classes='ball-dark text-center loading'}}
{{else}}
    {{#each actionsList key='id' as |action|}}
        {{action-feed-entry action=action toDetail=toDetail}}
    {{else}}
        <div class="text-center">{{t 'components.actionFeed.noActions'}}</div>
    {{/each}}
    {{#if loadingMore}}
        {{loading-indicator classes='ball-dark text-center loading'}}
    {{else if moreActions}}
        <div class='see-more'>
            <a role='button' {{action nextPage}}>{{t 'components.actionFeed.seeMore'}}</a>
        </div>
    {{/if}}
{{/if}}
