{{#if fetchData.isRunning}}
    {{#content-placeholders as |placeholder|}}
        {{placeholder.text lines=2}}
    {{/content-placeholders}}
{{else}}
    {{#each bibliographicContributors as |contributor|}}
        <li>
            {{#if contributor.unregisteredContributor}}
                {{contributor.unregisteredContributor}}
            {{else}}
                <a href={{contributor.users.profileURL}}>
                    {{contributor.users.givenName}} {{contributor.users.familyName~}}
                </a>
            {{/if}}
        </li>
    {{~/each}}
{{/if}}
