<div class="dark-header"> {{!HEADER}}
    <div class="container"> {{!CONTAINER}}
        <div class="row">{{!HEADER ROW}}
            <div class="text-left p-l-lg col-md-12">
                {{reviews-breadcrumbs}}
                {{!TITLE}}
                <div class="provider-title"><b>{{theme.provider.name}}</b></div>
                {{unread}}
                <div id="tabTitle">
                    <ul class="nav nav-pills ">
                        {{#each tabs as |tab|}}
                            {{#link-to tab.route tagName='li' href=false}}
                                {{#link-to tab.route theme.provider.id}}
                                    {{tab.name}}
                                    {{#if (eq tab.id 1)}}
                                        <small class="unread-label">{{unreadCount}}</small>
                                    {{/if}}
                                {{/link-to}}
                            {{/link-to}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> {{!END HEADER}}
