<table class="table table-filter">
    <tbody>
        {{#each model.pendingPreprints.records as |record|}}
            <tr data-status={{record.reviewsState}}>
                <td class="state">
                    <a class="fa fa-hourglass-o fa-lg"> </a>
                </td>
                <td>
                    <div class="media">
                        <div class="media-body" title={{record.title}}>
                            <a href="/preprints/{{theme.id}}/{{record.id}}">
                                <p class="record-title">{{shorten-text record.title screenWidth}}</p>
                                <p class="record-body">
                                    submitted on {{moment-format record.dateCreated "MMMM DD, YYYY"}} by
                                    {{#each record.node.contributors as |contributor index| ~}}
                                        {{#if (and (gt index 0) (lt index 3))}}
                                            {{concat ', ' contributor.users.fullName}}
                                        {{else if (eq index 0)}}
                                            {{contributor.users.fullName}}
                                        {{else}}
                                            ....
                                        {{/if}}
                                    {{/each}}
                                </p>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
