<div class="content">

    <div class="p-t-sm p-b-md m-b-md dark-overlay-header-background">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-11">
                    {{#if fetchData.isIdle}}
                        {{reviews-breadcrumbs}}
                        <h1 id="preprintTitle" class="p-t-md p-b-md">{{node.title}}</h1>
                        <h5>{{contributor-list node=node contributors=preprint.contributors}}</h5>
                        <h6 class="preprint-added-on">
                            {{t actionDateLabel}}: {{moment-format preprint.dateLastTransitioned "MMMM DD, YYYY"}} | {{t "content.header.lastEdited"}}: {{moment-format preprint.dateModified "MMMM DD, YYYY"}}
                        </h6>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    {{#if fetchData.isRunning}}
        <div class="preprint-status-component preprint-status-component--skeleton"></div>
    {{else}}
        {{preprint-status-banner submission=preprint saving=savingAction submitDecision=(action 'submitDecision')}}
    {{/if}}

    <div class="view-page">
        <div class="container">
            <div class="row p-md">
                <div id="mfr-col" class="col-md-{{if fullScreenMFR '12' '7'}}">
                    {{#if fetchData.isRunning}}
                        {{file-renderer-skeleton}}
                    {{else}}
                        {{#if preprint.isPreprintOrphan}}
                            <div class="alert alert-danger m-r-md" role="alert">
                                {{t "content.orphan_preprint"}}
                            </div>
                        {{else}}
                            {{preprint-file-browser primaryFile=preprint.primaryFile preprint=preprint chooseFile=(action 'chooseFile')}}
                        {{/if}}
                    {{/if}}
                    <button class="expand-mfr-carrot hidden-xs hidden-sm" {{action 'expandMFR'}}>
                        <i class="fa fa-chevron-{{if fullScreenMFR 'left' 'right'}}"></i>
                    </button>
                </div>

                <div class="col-md-5 {{if fullScreenMFR 'hidden' ''}}">
                    {{#if fetchData.isRunning}}
                        {{#content-placeholders as |placeholder|}}
                            {{placeholder.img}}
                            {{#each dummyMetaData}}
                                <div class="m-v-lg">
                                    {{placeholder.heading subtitle=false}}
                                    {{placeholder.text lines=2}}
                                </div>
                            {{/each}}
                        {{/content-placeholders}}
                    {{else}}
                        <div class="share-row p-sm osf-box-lt clearfix">
                            <a class="btn btn-primary p-v-xs" href={{fileDownloadURL}}>
                                {{t "content.share.downloadPreprint"}}
                            </a>
                            <div class="p-v-xs pull-right">
                                {{t "content.share.downloads"}}: {{preprint.primaryFile.extra.downloads}}
                            </div>
                        </div>

                        <div class="p-t-md pull-right">
                            <a class="m-r-xs text-smaller disabled" href='' onclick="return false;" aria-hidden="true">
                                <i class="fa fa-2x fa-twitter-square"></i>
                            </a>
                            <a class="m-r-xs text-smaller disabled" href='' onclick="return false;" aria-hidden="true">
                                <i class="fa fa-2x fa-facebook-square"></i>
                            </a>
                            <a class="m-r-xs text-smaller disabled" href='' onclick="return false;" aria-hidden="true">
                                <i class="fa fa-2x fa-linkedin-square"></i>
                            </a>
                            <a class="text-smaller disabled" href='' onclick="return false;" aria-hidden="true">
                                <i class="fa fa-2x fa-envelope"></i>
                            </a>
                        </div>

                        <div class="p-t-xs">
                            <h4 class="p-v-md f-w-md"><strong>{{t "global.abstract"}}</strong></h4>
                            <p class="abstract {{if useShortenedDescription 'abstract-truncated'}}">
                                {{~if useShortenedDescription description node.description~}}
                            </p>
                            <button class='btn-link' hidden={{not hasShortenedDescription}} {{action 'expandAbstract'}}>
                                {{~t (if expandedAbstract 'content.seeLess' 'content.seeMore')~}}
                            </button>
                        </div>

                        <section class="p-t-xs">
                            {{#if preprint.preprintDoiUrl}}
                                <h4 class="p-v-md f-w-md"><strong>{{t "content.preprintDOI"}}</strong></h4>
                                <a href={{preprint.preprintDoiUrl}}>{{extract-doi preprint.preprintDoiUrl}}</a>
                            {{else if (not preprint.isPublished)}}
                                <h4 class="p-v-md f-w-md"><strong>{{t "content.preprintDOI"}}</strong></h4>
                                {{t 'content.preprintPendingDOI'}}
                            {{/if}}
                        </section>

                        {{#if preprint.articleDoiUrl}}
                            <section class="p-t-xs">
                                <h4 class="p-v-md f-w-md"><strong>{{t "content.articleDOI"}}</strong></h4>
                                <a href={{preprint.articleDoiUrl}}>{{preprint.doi}}</a>
                            </section>
                        {{/if}}

                        {{#if preprint.license.name}}
                            <section class="preprint-license p-t-xs">
                                <h4 class="p-v-md f-w-md"><strong>{{t "global.license"}}</strong></h4>
                                {{preprint.license.name}}
                                <span  onclick={{action 'toggleShowLicense'}} role="button">
                                    <i class="fa fa-caret-{{if showLicense 'down' 'right'}}"></i>
                                </span>
                                {{#if showLicense}}
                                    <pre>{{preprint.licenseText}}</pre>
                                {{/if}}
                            </section>
                        {{/if}}

                        <div class="p-t-xs">
                            <h4 class="p-v-md f-w-md"><strong>{{t "content.disciplines"}}</strong></h4>
                            {{#each preprint.uniqueSubjects as |subject|}}
                                <span class='subject-preview'>{{subject.text}}</span>
                            {{/each}}
                        </div>

                        <div class="p-t-xs">
                            <h4 class=" f-w-md p-v-md"><strong>{{t "global.tags"}}</strong></h4>
                            {{#if hasTags}}
                                {{#each node.tags as |tag|}}
                                    <span class="badge">{{fix-special-char tag}}</span>
                                {{/each}}
                            {{else}}
                                {{t "global.none"}}
                            {{/if}}
                        </div>

                        <div class="p-t-xs m-b-lg">
                            <h4 class="p-v-md f-w-md"><strong>{{t "content.citations"}}</strong></h4>
                            {{citation-widget node=preprint}}
                        </div>

                        <div class="p-lg osf-box-lt row project-box">
                            <div class="col-xs-6 text-center">
                                <div class="content-provider-logo provider-osf-dark"
                                     title={{t "global.openScienceFramework"}}></div>
                            </div>
                            <div class="col-xs-6 text-left">
                                <p class="f-w-xs">{{t "content.projectButton.paragraph"}}</p>
                                <a type="button" class="btn btn-info" href={{node.links.html}}>
                                    {{t "content.projectButton.button"}}
                                </a>
                            </div>
                        </div>
                    {{/if}}
                </div>

            </div>
        </div>
    </div>

</div>
