<div id="view-page">
    <div class="p-t-xl p-b-md m-b-md dark-overlay-header-background header-row">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-11">
                    {{reviews-breadcrumbs}}
                    <h1 id="preprintTitle" class="p-b-md">{{node.title}}</h1>
                    <h5 class="view-authors">
                        <ul class="comma-list">
                            {{#if authors}}
                                {{#each authors as |author index| ~}}
                                    {{#if author.bibliographic}}
                                        {{#if author.unregisteredContributor}}
                                            <li>{{author.unregisteredContributor}}</li>
                                        {{else}}
                                            <li>
                                                <a href={{author.users.profileURL}}>
                                                    {{author.users.givenName}} {{author.users.familyName}}
                                                </a>
                                            </li>
                                        {{/if}}
                                    {{/if}}
                                {{~/each}}
                            {{else}}
                                <div>
                                    {{fa-icon 'spinner' pulse=true size=2}}
                                </div>
                            {{/if}}
                        </ul>
                    </h5>
                    <h6 class='preprint-added-on'>
                        {{t logDateLabel}}: {{moment-format model.dateLastTransitioned "MMMM DD, YYYY"}} | {{t "content.header.last_edited"}}: {{moment-format model.dateModified "MMMM DD, YYYY"}}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    {{preprint-status-banner submission=model saving=savingLog submitDecision="submitDecision"}}
    <div id="view-page" class="container">
        <div class="row p-md">
            <div id="mfr-col" class="col-md-{{if fullScreenMFR '12' '7'}}">
                {{#if model.isPreprintOrphan}}
                    <div class="alert alert-danger m-r-md" role="alert">
                        {{t "content.orphan_preprint"}}
                    </div>
                {{else}}
                    {{#if (not node.public)}}
                        <div class="alert alert-danger m-r-md" role="alert">
                            {{t "content.private_preprint_warning"}} <a href={{node.links.html}}>{{node.title}} </a> {{t "content.public"}}.
                        </div>
                    {{/if}}
                    {{supplementary-file-browser chosenFile=chosenFile preprint=model node=node projectURL=node.links.html chooseFile=(action 'chooseFile')}}
                    <button class="expand-mfr-carrot hidden-xs hidden-sm" {{action 'expandMFR'}}>
                        <i class="fa fa-chevron-{{if fullScreenMFR 'left' 'right'}}"></i>
                    </button>
                {{/if}}
            </div>
            {{#unless fullScreenMFR}}
                <div class="col-md-5">
                    <div class="share-row p-sm osf-box-lt clearfix">
                        <a class="btn btn-primary p-v-xs" href={{fileDownloadURL}}>
                            {{t "content.share.download_preprint"}}
                        </a>
                        <div class=" p-v-xs pull-right">
                            {{t "content.share.downloads"}}: {{model.primaryFile.extra.downloads}}
                        </div>
                    </div>
                    <div class="p-t-md pull-right">
                        <a class="m-r-xs text-smaller disabled" href='' onclick="return false;" aria-hidden="true">
                            {{fa-icon 'twitter-square' size=2 }}
                        </a>
                        <a class="m-r-xs text-smaller disabled" href='' onclick="return false;" aria-hidden="true">
                            {{fa-icon 'facebook-square' size=2 }}
                        </a>
                        <a class="m-r-xs text-smaller disabled" href='' onclick="return false;" aria-hidden="true">
                            {{fa-icon 'linkedin-square' size=2 }}
                        </a>
                        <a class="text-smaller disabled" href='' onclick="return false;" aria-hidden="true">
                            {{fa-icon 'envelope' size=2 }}
                        </a>
                    </div>
                    <div class="p-t-xs">
                        <h4 class="p-v-md f-w-md"><strong>{{t "global.abstract"}}</strong></h4>
                        <p class="abstract {{if useShortenedDescription 'abstract-truncated'}}">
                            {{~if useShortenedDescription description node.description~}}
                        </p>
                        <button class='btn-link' hidden={{not hasShortenedDescription}} {{action 'expandAbstract'}}>
                            {{~t (if expandedAbstract 'content.see_less' 'content.see_more')~}}
                        </button>
                    </div>

                    {{#if model.links.preprint_doi}}
                        <div class="p-t-xs">
                            <h4 class="p-v-md f-w-md"><strong>{{t "content.preprint_doi"}}</strong></h4>
                            <a href={{model.links.preprint_doi}}>{{extract-doi model.links.preprint_doi}}</a>
                        </div>
                    {{/if}}

                    {{#if model.doi}}
                        <div class="p-t-xs">
                            <h4 class="p-v-md f-w-md"><strong>{{t "content.article_doi"}}</strong></h4>
                            <a href={{doiUrl}}>{{model.doi}}</a>
                        </div>
                    {{/if}}

                    {{#if model.license.name}}
                        <div class="p-t-xs">
                            <h4 class="p-v-md f-w-md"><strong>{{t "global.license"}}</strong></h4>
                            {{model.license.name}}
                            <span style='cursor: pointer'>
                                {{#if showLicenseText }}
                                    {{fa-icon 'caret-down' click=(action 'toggleLicenseText')}}
                                {{else}}
                                    {{fa-icon 'caret-right' click=(action 'toggleLicenseText')}}
                                {{/if}}
                            </span>
                            {{#if showLicenseText}}
                                <pre style='white-space: pre-wrap; font-size:75%; border:none; width:100%; text-align:justify; max-height: 300px;'>{{fullLicenseText}}</pre>
                            {{/if}}
                        </div>
                    {{/if}}

                    <div class="p-t-xs">
                        <h4 class="p-v-md f-w-md"><strong>{{t "content.disciplines"}}</strong></h4>
                        {{#each disciplineReduced as |subject|}}
                            <span class='subject-preview'>{{subject.text}}</span>
                        {{/each}}
                    </div>
                    <div class="p-t-xs">
                        <h4 class=" f-w-md p-v-md"><strong>{{t "global.tags"}}</strong></h4>
                        {{#if hasTag}}
                            {{#each node.tags as |tag|}}
                                <span class="badge">{{fix-special-char tag}}</span>
                            {{/each}}
                        {{else}}
                            {{t "global.none"}}
                        {{/if}}
                    </div>

                    <div class="p-t-xs m-b-lg">
                        <h4 class="p-v-md f-w-md"><strong>{{t "content.citations"}}</strong></h4>
                        {{citation-widget node=model}}
                    </div>

                    <div class="p-lg osf-box-lt row project-box">
                        <div class="col-xs-6 text-center">
                            <div class="content-provider-logo provider-osf-dark"
                                 title={{t "global.open_science_framework"}}></div>
                        </div>
                        <div class="col-xs-6 text-left">
                            <p class="f-w-xs">{{t "content.project_button.paragraph"}}</p>
                            <a type="button" class="btn btn-info" href={{node.links.html}}>
                                {{t "content.project_button.button"}}
                            </a>
                        </div>
                    </div>
                </div>
            {{/unless}}
        </div>
    </div>
</div>
