<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{t title}}</h1>
            <p>
                {{t errorMessage}}
                <br>
                <span>{{t "components.error-page.report"}}</span>
                <a href="mailto:{{supportEmail}}">
                    {{supportEmail}}
                </a>
            </p>
            <a class="btn btn-primary m-t-md" href='/preprints/'>
                {{t "components.error-page.go_to"}}
            </a>
        </div>
    </div>
</div>
