<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{t "error_page.title"}}</h1>
            <p>
                {{t "error_page.details"}}
                <br>
                <span>{{t "error_page.report"}}</span>
                <a href="mailto:{{supportEmail}}">
                    {{supportEmail}}
                </a>
            </p>
            <a class="btn btn-primary m-t-md" href='/reviews/'>
                {{t "error_page.go_to"}}
            </a>
        </div>
    </div>
</div>
