{{#if fetchData.isRunning}}
    {{moderation-list-row-skeleton}}
{{else}}
    {{#link-to 'preprints.provider.preprint-detail' theme.id submission.id}}
        <div data-status={{submission.reviewsState}} class="flex-container">
            <i class="fa fa-lg {{get iconClass submission.reviewsState}} status-icon"></i>
            <div title={{submission.title}} class="submission-info">
                <div class="submission-title">{{submission.title}}</div>
                <div class="submission-body">
                    {{#if (eq submission.reviewsState 'pending')}}
                        {{statusTimeDate}}
                        {{#each firstContributors as |contributor| ~}}
                            <li>{{contributor.users.fullName}}</li>
                        {{/each}}
                        {{#if (gt additionalContributors 0)}}
                            + {{additionalContributors}}
                        {{/if}}
                    {{else}}
                        {{statusTimeDate}}
                    {{/if}}
                </div>
            </div>
        </div>
    {{/link-to}}
{{/if}}
