{{#link-to 'preprints.provider.preprint-detail' theme.id submission.id}}
    <div data-status={{submission.reviewsState}} class="flex-container">
        <i class="fa fa-lg {{get iconClass submission.reviewsState}} status-icon"></i>
        <div title={{submission.title}} class="submission-info">
            <div class="submission-title">{{submission.title}}</div>
            {{#if submission.node.contributors.isPending}}
                <div class="ball-pulse ball-dark">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            {{else}}
                <div class="submission-body">
                    {{#if (eq submission.reviewsState 'pending')}}
                        {{t dateLabel}} {{relevantDate}} {{t submittedByLabel}}
                        {{#each firstContributors as |contributor index| ~}}
                            <li>{{contributor.users.fullName}}</li>
                        {{/each}}
                        {{#if (gt additionalContributors 0)}}
                            + {{additionalContributors}}
                        {{/if}}
                    {{else}}
                        {{#if lastAction.creator.isPending}}
                            <span class="ball-pulse ball-dark" aria-label="Loading data">
                                <div></div>
                                <div></div>
                                <div></div>
                            </span>
                        {{else}}
                            {{t dateLabel}} {{relevantDate}}
                            {{t 'components.moderation-list-row.submission.by'}}
                            {{lastAction.creator.fullName}}
                        {{/if}}
                    {{/if}}
                </div>
            {{/if}}
        </div>
    </div>
{{/link-to}}
