<div class="reviews-page"> {{!INDEX}}
    {{!HEADER}}
    <div class="reviews-header"> {{!HEADER}}
        <div class="container"> {{!CONTAINER}}
            <div class="row">{{!HEADER ROW}}
                {{!TITLE}}
                <div class="text-center m-t-lg col-xs-12">
                    <div class="p-b-xl reviews-brand"></div>
                </div>
            </div> {{!END ROW}}
        </div> {{!END CONTAINER}}
    </div> {{!END HEADER}}
    <div class="reviews-middle"> {{!MIDDLE}}
        <div class="container"> {{!CONTAINER}}
            <div class="col-md-6 pull-left">
                <div class="reviews-middle-features"></div>
            </div>
            <div class="col-md-6 features pull-right">
                <h2>{{t 'index.feature.title'}}</h2>
                <h4>
                    {{t "index.feature.description"}}
                </h4>
                <ul>
                    <li>{{t "index.feature.list_1"}}</li>
                    <li>{{t "index.feature.list_2"}}</li>
                    <li>{{t "index.feature.list_3"}}</li>
                </ul>
            </div>
        </div> {{!END CONTAINER}}
    </div> {{!END MIDDLE}}
    <div class="reviews-workflow"> {{!MIDDLE}}
        <div class="container"> {{!CONTAINER}}
            <div class="col-md-4">
                <h2>{{t "index.workflow.title"}}</h2>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-key"></i>{{t "index.workflow.list_1"}}</li>
                    <li><i class="fa-li fa fa-globe"></i>{{t "index.workflow.list_2"}}</li>
                </ul>
            </div>
            <div class="col-md-4 col-centered">
                <h4>{{t "index.workflow.figure.pre_moderation"}}</h4>
                <div class="reviews-workflow-figure2">
                </div>
            </div>
            <div class="col-md-4 col-centered">
                <div class="row column-offset hidden-xs hidden-sm"></div>
                <div class="row center-block">
                    <h4>{{t "index.workflow.figure.post_moderation"}}</h4>
                    <div class="reviews-workflow-figure1">
                    </div>
                </div>
            </div>
        </div> {{!END CONTAINER}}
    </div> {{!END MIDDLE}}
    <div class="reviews-contact"> {{!CONTACT}}
        <div class="container"> {{!CONTAINER}}
            <div class="col-md-3"></div>
            <div class="text-center col-md-6">
                <h2>{{t "index.contact.title"}}</h2>
                <h4>{{t "index.contact.paragraph"}}</h4>
                <a href="mailto:contact@osf.io" class="btn btn-info btn-lg">{{t "index.contact.contact_us"}}</a>
            </div>
            <div class="col-md-3"></div>
        </div> {{!END CONTAINER}}
    </div> {{!END CONTACT}}
</div> {{!END INDEX}}
